.composition {
    position: relative;
    width: 70vw;
    margin: auto;
    height: 500px;

    @media (min-width: 700px) {
        width: 60vw;
        height: 500px;
    }
}

.composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 10px;

    &:hover {
        outline: .5rem solid #FFEF05;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
        z-index: 20;
    }
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
}

.composition__photo--p1 {
    left: -1.5rem;
    top: -2rem;
}

.composition__photo--p2 {
    right: -1.5rem;
    top: 2rem;
}

.composition__photo--p3 {
    left: 20%;
    top: 10rem;
}
