$small-width: 500px;
$medium-width: 800px;
$large-width: 1010px;

@mixin small {
     @media (min-width: #{$small-width}){
        @content;
    }
}

@mixin medium {
     @media (min-width: #{$medium-width}){
        @content;
    }
}

@mixin large {
     @media (min-width: #{$large-width}){
        @content;
    }
}
