:root {
    --header-font-color: #fff;
    --mainOrange: #FFEF05;
    --githubBG: #24292e;
}

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-highlight: #FFEF05;

$color-white: #fff;
$color-black: #000;

$mainBlue: #0000ff;
